<!---NAVBAR STARTS-->
<app-sidebar-admin></app-sidebar-admin>
<!---NAVBAR ENDS-->

<!---BODY STARTS-->
<div class=" backGround mt-5">
  <form [formGroup]="form" (ngSubmit)="withStripe()" novalidate>
    <div class="container d-flex justify-content-center  mb-5">
      <div class="row g-3; mt-5">
        <div class="col-md-12">
          <span>Payment Details</span>
          <div class="card">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <input type="text" class="form-control" placeholder="Paypal email">
                  </div>
                </div>
              </div>
              <div class="card" style="background-color: antiquewhite">
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body payment-card-body">
                    <span class="font-weight-normal card-text">Name</span>
                    <div class="input">
                      <i class="fa fa-credit-card"></i>
                      <input type="text" class="form-control" name="name" formControlName=name placeholder=""
                        [ngClass]="{'is-invalid':Submitted && form.controls['name'].errors}">
                    </div>
                    <div class="row mt-3 mb-3">
                      <div class="col-md-6">
                        <span class="font-weight-normal card-text">Reason</span>
                        <div class="input">
                          <i class="fa fa-calendar"></i>
                          <input type="text" class="form-control" name="reason" formControlName=reason placeholder=""
                            [ngClass]="{'is-invalid':Submitted && form.controls['reason'].errors}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <span class="font-weight-normal card-text">Amount</span>
                        <div class="input">
                          <i class="fa fa-lock"></i>
                          <input type="text" class="form-control" name="amount" formControlName=amount placeholder=""
                            [ngClass]="{'is-invalid':Submitted && form.controls['amount'].errors}">
                        </div>
                      </div>
                    </div>
                    <span class="text-muted certificate-text"><i class="fa fa-lock"></i> Your transaction is secured
                      with ssl certificate</span>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Pay with stripe</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!---BODY ENDS-->