<app-sidebar-admin></app-sidebar-admin>
<!-- 
<body class="backGround" style="height: 100vh; overflow-y: auto;">
  <div class="row m-0 h-100">
    <div class="col-sm-2 backGround1"
      style="text-align: center;  justify-content: center; align-items: center; height:auto;">
      <h3 style="color: aliceblue; margin-top: 35%;"><b>{{name}}</b></h3>
      <div class="container-fluid"
        style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
        <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></h6>

      </div>
      <div class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></h6>

    </div>
    <div class="container-fluid"
    style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
    <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></h6>

  </div>
      <div *ngIf="leader"  class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></h6>

      </div>
   

    </div>



    <div style=" background-color: rgb(36,37,37); height:auto" class="col-sm-10 ">



      <h4  style="color: aliceblue; margin-top:5%; margin-bottom:2%;"><i>Members</i></h4>
      <div *ngIf="leader" style="text-align:end; margin: 5px;">
        <form [formGroup]="form" (submit)="submit()">
          <span style="color: aliceblue;"> Add Member : </span>
          <input type="text" name="member" style="border-radius: 5px; height: 45px; width: 20%;" formControlName=member
            placeholder="enter member email">
          <button class="btn btn-success pt-2 pb-2">add</button>
        </form>
      </div>
  
      <div >
        <div class="card mb-3" style="border: 0; border-radius: 5px;" >
          <div class="card-body " style="background-color: rgb(83,83,83);border-radius: 5px;">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img *ngIf="!leaders.president.image"
                    src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000"
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                  <img *ngIf="leaders.president.image" [src]='"http://localhost:5000/public/user_images/"+leaders.president.image'
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                </div>
                <div class="ms-4">
                  <h4>Email: {{leaders.president.email}}</h4>
                </div>
                <div>
                  <h5> (President)</h5>
                </div>
                <div class="ms-4">
                  <h5>Name: {{leaders.president.name}}</h5>
                </div>
                <div class="ms-4">
                  <h5>Phone: {{leaders.president.phone}}</h5>
                </div>>


              </div>
              <div class="d-flex flex-row align-items-center">

         
                <a href="#!" style="color: #c6c4c4;"><i class="fas fa-trash-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="border: 0; border-radius: 5px;" >
          <div class="card-body " style="background-color: rgb(83,83,83);border-radius: 5px;">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img *ngIf="!leaders.secretory.image"
                    src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000"
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                  <img *ngIf="leaders.secretory.image" [src]='"http://localhost:5000/public/user_images/"+leaders.secretory.image'
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                </div>
                <div class="ms-4">
                  <h4>Email: {{leaders.secretory.email}}</h4>
                </div>
                <div>
                  <h5> (Secretory)</h5>
                </div>
                <div class="ms-4">
                  <h5>Name: {{leaders.secretory.name}}</h5>
                </div>
                <div class="ms-4">
                  <h5>Phone: {{leaders.secretory.phone}}</h5>
                </div>

              </div>
              <div class="d-flex flex-row align-items-center">

     
                <a href="#!" style="color: #c6c4c4;"><i class="fas fa-trash-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3" style="border: 0; border-radius: 5px;" >
          <div class="card-body " style="background-color: rgb(83,83,83);border-radius: 5px;">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img *ngIf="!leaders.treasurer.image"
                    src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000"
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                  <img *ngIf="leaders.treasurer.image" [src]='"http://localhost:5000/public/user_images/"+leaders.treasurer.image'
                    class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                </div>
                <div class="ms-3">
                  <h4>Email: {{leaders.treasurer.email}}</h4>
                </div>
                <div>
                  <h5> (treasurer)</h5>
                </div>
                <div class="ms-5">
                  <h5>Name: {{leaders.treasurer.name}}</h5>
                </div>
                <div class="ms-5">
                  <h5>Phone: {{leaders.treasurer.phone}}</h5>
                </div>

              </div>
              <div class="d-flex flex-row align-items-center">

                <a href="#!" style="color: #c6c4c4;"><i class="fas fa-trash-alt"></i></a>
              </div>
            </div>
          </div>
        </div>

      <section style="background-color: black; color: rgb(0, 0, 0);">

        <div style="text-align: end;">
          <mat-form-field appearence="standard">
            <mat-label>Filter</mat-label>
            <input matInput placeholder="Search" (keyup)="applyFilter($event)" style="color: rgb(255, 255, 255);" />
          </mat-form-field>
      
          <div>
            <table mat-table [dataSource]="dataSource" matSort>
      
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Name</th>
                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
              </ng-container>
      
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Email</th>
                <td mat-cell *matCellDef="let element">{{ element.email }}</td>
              </ng-container>
      
              <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Role</th>
                <td mat-cell *matCellDef="let element">member</td>
              </ng-container>
      
              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Action</th>
                <td mat-cell *matCellDef="let element">
                  <button *ngIf="leader" class="btn btn-danger" style="margin-right: 5px; color: rgb(0, 0, 0);" (click)="deleteMember(element.email)">Delete</button>
                </td>
              </ng-container>
      
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">View</th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-warning" data-toggle="modal" data-target="#myModal"
                    (click)="selectItem('http://localhost:5000/public/user_images/' + element.image, element.name, element.place, element.email, element.phone)" style="color: black; background-color: white;">View Details</button>
                </td>
              </ng-container>
      
              <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>
      
  
              <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">No data</td>
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5]" aria-label="select page of members"></mat-paginator>
          </div>
        </div>
      </section>
      
      </div>
    </div>


  </div>





  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">


      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">hhhh</h4>
        </div>

        <div class="row m-0 mt-2">
          <h5 style="color: rgb(0, 0, 0);">{{ selectedText }}</h5>
          <div class="col-sm-6 mt-5 mb-5">
            <img *ngIf="selectedImage" [src]="selectedImage" style="width: 200pxpx; height: 200px;">
          </div>
          <div style="text-align: start;" class="col-sm-6 mt-5 mb-5">
            <b> Place:</b>{{ selectedPlace }}<br><br>
            <b> Email:</b>{{selectedEmail }}<br><br>
            <b>Phone:</b>{{selectedPhone }}<br>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div> -->




  <div class="backGround container-fluid m-0 " > 
  
<div class=" container" style="height: auto; ">

  <div *ngIf="image"  style="background-color: rgb(255, 255, 255); width: 100%; height: 500px;background-image: url('{{image}}'); background-size: cover; background-position: center; background-repeat: no-repeat; padding-top: 10px; border-radius: 10px;">
</div>

<div class="container-fluid mt-4 mb=5 p-4" style="width: 100%; height: 40px; border-radius: 40px; display: flex; justify-content: end; align-items: center;">
  <button class="m-3 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></button>
  <button class="m-3 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></button>
  <button class="m-3 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></button>
  <button *ngIf="leader"  class="m-3 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></button>
</div>

<div class="container-fluid mt-4 mb=5 p-4 backGround" style="width: 100%;  background-color: rgb(99, 140, 176); border-radius: 40px; display: flex; justify-content: center; align-items: center;">
<div class="card m-4" style="width: 18rem;">
  <img *ngIf="!leaders.president.image" class="card-img-top" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000" alt="Card image cap">
  <img *ngIf="leaders.president.image" class="card-img-top" [src]='"http://localhost:5000/public/user_images/"+leaders.president.image' alt="Card image cap">
  <div class="card-body">
    <h6><i>President</i></h6>
    <p class="card-text">Name  :{{leaders.president.name}}</p>
    <p class="card-text">Email :{{leaders.president.email}}</p>
    <p class="card-text">Phone :{{leaders.president.phone}}</p>
  </div>
</div>
<div class="card m-4" style="width: 18rem;">
  <img *ngIf="!leaders.secretory.image" class="card-img-top" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000" alt="Card image cap">
  <img *ngIf="leaders.secretory.image" class="card-img-top" [src]='"http://localhost:5000/public/user_images/"+leaders.secretoty.image' alt="Card image cap">
  <div class="card-body">
    <h6><i>secretory</i></h6>
    <p class="card-text">Name  :{{leaders.secretory.name}}</p>
    <p class="card-text">Email :{{leaders.secretory.email}}</p>
    <p class="card-text">Phone :{{leaders.secretory.phone}}</p>
  </div>
</div>
<div class="card m-4" style="width: 18rem;">
  <img *ngIf="!leaders.treasurer.image" class="card-img-top" src="https://img.freepik.com/free-psd/3d-illustration-person-with-sunglasses_23-2149436188.jpg?w=2000" alt="Card image cap">
  <img *ngIf="leaders.treasurer.image" class="card-img-top" [src]='"http://localhost:5000/public/user_images/"+leaders.treasurer.image' alt="Card image cap">
  <div class="card-body">
    <h6><i>treasurer</i></h6>
    <p class="card-text">Name  :{{leaders.treasurer.name}}</p>
    <p class="card-text">Email :{{leaders.treasurer.email}}</p>
    <p class="card-text">Phone :{{leaders.treasurer.phone}}</p> 
  </div>
</div>
</div>
<div *ngIf="leader" style="text-align:end; margin: 5px;">
  <form [formGroup]="form" (submit)="submit()">
    <span style="color: aliceblue;"> Add Member : </span>
    <input type="text" name="member" style="border-radius: 5px; height: 45px; width: 20%;" formControlName=member
      placeholder="enter member email">
    <button class="btn btn-success pt-2 pb-2">add</button>
  </form>
</div>
<section style=" color: rgb(0, 0, 0);">
 
  <div style="text-align: end;">
    <h3 style="text-align: start; color: rgb(255, 255, 255);"><i>Members</i></h3>
    <mat-form-field appearence="standard">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Search" (keyup)="applyFilter($event)" style="color: rgb(255, 255, 255);" />
    </mat-form-field>

    <div>

      <table mat-table [dataSource]="dataSource" matSort style="background-color: rgb(255, 255, 255); border-radius: 3px;">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Role</th>
          <td mat-cell *matCellDef="let element">member</td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">Action</th>
          <td mat-cell *matCellDef="let element">
            <button *ngIf="leader" class="btn btn-danger" style="margin-right: 5px; color: rgb(0, 0, 0);" (click)="deleteMember(element.email)">Delete</button>
            <span *ngIf="!leader" style="color: red;">No actions</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: rgb(0, 0, 0);">View</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-warning" data-toggle="modal" data-target="#myModal"
              (click)="selectItem('http://localhost:5000/public/user_images/' + element.image, element.name, element.place, element.email, element.phone)" style="color: black; background-color: white;">View Details</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumn"></tr>


        <tr *matNoDataRow>
          <td class="mat-cell" colspan="4">No data</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[20]" aria-label="select page of members"></mat-paginator>
    </div>
  </div>
</section>

</div>




<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">hhhh</h4>
      </div>

      <div class="row m-0 mt-2">
        <h5 style="color: rgb(0, 0, 0);">{{ selectedText }}</h5>
        <div class="col-sm-6 mt-5 mb-5">
          <img *ngIf="selectedImage" [src]="selectedImage" style="width: 200pxpx; height: 200px;">
        </div>
        <div style="text-align: start;" class="col-sm-6 mt-5 mb-5">
          <b> Place:</b>{{ selectedPlace }}<br><br>
          <b> Email:</b>{{selectedEmail }}<br><br>
          <b>Phone:</b>{{selectedPhone }}<br>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> 
