<!---NAVBAR STARTS-->
<app-sidebar-admin></app-sidebar-admin>
<!---NAVBAR ENDS-->
<div style= " background-color: #f1e8d7;">

<!---BODY STARTS-->
<div class="container " style="padding-top: 10%; ">
  <h1 class="hero-title mb-3">{{clubName}}</h1>
  <div class="row gutters-sm">
    <div class="col-md-4 d-none d-md-block">
      <div class="card" style="background-color: antiquewhite;">
        <div class="card-body">
          <nav class="nav flex-column nav-pills nav-gap-y-1">
            <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
              Club details
            </a>
            <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-settings mr-2">
                <circle cx="12" cy="12" r="3"></circle>
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                </path>
              </svg>Change Commitee
            </a>
            <a href="#security" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-shield mr-2">
                <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
              </svg>Security
            </a>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card" style="background-color: antiquewhite;">
        <div class="card-header border-bottom mb-3 d-flex d-md-none">
          <ul class="nav nav-tabs card-header-tabs nav-gap-x-1" role="tablist">
            <li class="nav-item">
              <a href="#profile" data-toggle="tab" class="nav-link has-icon active"><svg
                  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-user">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg></a>
            </li>
            <li class="nav-item">
              <a href="#account" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                  </path>
                </svg></a>
            </li>
            <li class="nav-item">
              <a href="#security" data-toggle="tab" class="nav-link has-icon"><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield">
                  <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg></a>
            </li>

          </ul>
        </div>
        <div class="card-body tab-content">
          <div class="tab-pane active" id="profile">
            <h6>Club Details</h6>
            <hr>
            <form [formGroup]="form" (submit)="submitClubData()">
              <div class="form-group">
                <label for="fullName">Club Name</label>
                <input type="text" class="form-control" name="clubName" formControlName=clubName id="fullName"
                  aria-describedby="fullNameHelp">
              </div>

              <div class="form-group">
                <label for="url">Register No.</label>
                <input type="text" class="form-control"  name="regiterNo"
                  formControlName=regiterNo>
              </div>
              <div class="form-group">
                <label for="url">Category</label>
                <input type="text" class="form-control" id="url"  name="category"
                  formControlName=category>
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" 
                 name="place" formControlName=place>
              </div>
              <div class="form-group">
                <label for="bio">About</label>
                <textarea class="form-control autosize"  name="about" formControlName=about id="bio"
                  placeholder="Write something about club"
                  style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 62px;">A front-end developer that focus more on user interface design, a web interface wizard, a connector of awesomeness.</textarea>
              </div>
              <div class="form-group small text-muted">
              </div>
              <button type="submit" class="btn btn-primary mt-2">Update Profile</button>
            </form>
          </div>
          <div class="tab-pane" id="account">
            <h6>Change Commitee</h6>
            <hr>
            <form [formGroup]="form" (submit)="updateCommitee()">
              <div class="form-group">
                <label for="username">New President</label>
                <input type="text" class="form-control" id="President" aria-describedby="usernameHelp"
                  name="presidentNew" formControlName=presidentNew>
              </div>
              <hr>
              <div class="form-group">
                <label for="username">New Secretory</label>
                <input type="text" class="form-control" id="Secretory" aria-describedby="usernameHelp"
                  name="secretoryNew" formControlName=secretoryNew>
              </div>
              <hr>
              <div class="form-group">
                <label for="username">New Treasurer</label>
                <input type="text" class="form-control" id="Secretory" aria-describedby="usernameHelp"
                  name="treasurerNew" formControlName=treasurerNew>
              </div>
              <hr>
              <button class="btn btn-primary mt-2" type="Submit">Create New Commitee</button>
            </form>
          </div>
          <div class="tab-pane" id="security">
            <h6>SECURITY SETTINGS</h6>
            <hr>
            <form [formGroup]="form" (submit)="updateSecurityCode()" novalidate>
              <div class="form-group">
                <label class="d-block">Change Password</label>
                <input type="password" class="form-control" name="securityOld" formControlName=securityOld
                  placeholder="Enter your old password">
                <input type="password" class="form-control mt-1" value="{{securityOld}}" name="securityNew"
                  formControlName=securityNew placeholder="Enter your new password">
                <input type="password" class="form-control mt-1" value="{{securityNew}}" name="securityConfirm"
                  formControlName=securityConfirm placeholder="Enter your confirm password">
              </div>
              <button class="btn btn-info mt-2" value="{{securityConfirm}}" type="submit">Change Security Code</button>
              <p class="small text-muted mt-2"></p>
            </form>
            <hr>
            <form>
              <div class="form-group mb-0">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---BODY ENDS-->
</div>

<section style="padding-top: 18rem; background-color: #f1e8d7;">
</section>