<app-sidebar-admin></app-sidebar-admin>
<!-- 
<body class="backGround" >
  <div class="row m-0  height:auto;">
    <div class="col-sm-2 backGround1"
      style="text-align: center;  justify-content: center; align-items: center; height:auto;">
      <h3 style="color: aliceblue; margin-top: 35%;"><i>name</i></h3>
      <div class="container-fluid"
        style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
        <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></h6>

      </div>
      <div class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></h6>

    </div>
    <div class="container-fluid"
    style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
    <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></h6>

  </div>
      <div   class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></h6>

      </div>
 
    </div>
    <div style=" background-color: rgb(36,37,37); height:auto" class="col-sm-6 ">
      <h3 style="color: aliceblue; text-align: start;" class="m-5"><i>Settings</i></h3>
      <div class="row m-0">
        <div class="col-sm-6">

          <img src="https://img.theweek.in/content/dam/week/leisure/society/images/2022/12/1/hammerzz.jpg"
            style="  border-radius: 6px; margin-top: 4%; height: 200px; width: 200px;" alt="">

        </div>
        <div class="col-sm-6 mt-4" style="color: antiquewhite; text-align: start;">
          <form [formGroup]="form" (submit)="submitClubData()">
            Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input value="{{clubName}}"
              style="border-radius: 6px; width:250px" name="clubName" formControlName=clubName class="mb-2"><br>
            Register No.:<input value="{{regiterNo}}" style="border-radius: 6px; width:250px" name="regiterNo"
              formControlName=regiterNo class="mb-2"><br>
            Category&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input value="{{category}}" style="border-radius: 6px; width:250px"
              name="category" formControlName=category class="mb-2"><br>
            Place&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input value="{{place}}"
              style="border-radius: 6px; width:250px" name="place" formControlName=place class="mb-2"><br>
            About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input value="{{about}}"
              style="border-radius: 6px; width:250px" name="about" formControlName=about class="mb-2"><br>
            <button class="btn btn-success" style="margin-left: 60%;">Update Profile</button>
          </form>
        </div>
      </div>
      <div class="container mt-5"
        style=" text-align: start; width:100%; height: 10%;  color: antiquewhite;background-color:rgb(32,37,41);;">
        <i>Change Commitee</i>
      </div>

      <div>
        <form [formGroup]="form" (submit)="updateCommitee()">
          <div class="card mb-4 backGround1">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" style="color:white ;">New President</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="presidentNew" formControlName=presidentNew [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" style="color:white ;">New Secretory</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="secretoryNew" formControlName=secretoryNew [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0" style="color:white ;">New Treasurer</p>
                </div>
                <div class="col-sm-9">
                  <input type="text" name="treasurerNew" formControlName=treasurerNew [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success">Update Commitee</button>

        </form>
      </div>

    </div>

    <div style="  background-color: rgb(79,79,79);" class="col-sm-4 ">
      <h3 style="color: aliceblue; text-align: start;" class="m-5"><i>Security</i></h3>
      <div>
        <form [formGroup]="form" (submit)="updateSecurityCode()">
          <div class="card mb-4 backGround1">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-5">
                  <p class="mb-0" style="color:white ;">Old Security Code</p>
                </div>
                <div class="col-sm-7">
                  <input type="text" name="securityOld" formControlName=securityOld [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <p class="mb-0" style="color:white ;">New Security Code</p>
                </div>
                <div class="col-sm-7">
                  <input type="text" value="{{securityOld}}" name="securityNew" formControlName=securityNew
                    [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-5">
                  <p class="mb-0" style="color:white ;">Confirm Security Code</p>
                </div>
                <div class="col-sm-7">
                  <input type="text" value="{{securityNew}}" name="securityConfirm" formControlName=securityConfirm
                    [ngStyle]="{ 'width': '100%' }">
                </div>
              </div>
            </div>
          </div>
          <button type="submit" value="{{securityConfirm}}" class="btn btn-success">Update SecurityCode</button>

        </form>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: 20vh;background-color:rgb(32,37,41)">

  </div> -->


















  <div class="backGround container-fluid m-0 " > 
  
    <div class=" container" style="height: auto; ">
    
      <div *ngIf="image"  style="background-color: rgb(255, 255, 255); width: 100%; height: 500px;background-image: url('{{image}}'); background-size: cover; background-position: center; background-repeat: no-repeat; padding-top: 10px; border-radius: 10px;">
    </div>
    
    <div class="container-fluid mt-4 mb=5 p-4" style="width: 100%; height: 40px; border-radius: 40px; display: flex; justify-content: end; align-items: center;">
      <button class="m-2 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></button>
      <button class="m-2 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></button>
      <button class="m-2 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></button>
      <button   class="m-2 btn btn-dark"><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></button>
    </div>
    
<div class="row m-0">
<div class="col-sm-8">
  <div class="col-sm-12 mt-4" style="color: antiquewhite; text-align: start;">
  

    <form [formGroup]="form" (submit)="submitClubData()">
      <div class="card mb-4 backGround">
        <div class="card-body">
  
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0" style="color:white ;">Nama</p>
            </div>
            <div class="col-sm-9">
              <input type="text" value="{{clubName}}" name="clubName" formControlName=clubName [ngStyle]="{ 'width': '100%' }">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0" style="color:white ;">Register No</p>
            </div>
            <div class="col-sm-9">
              <input type="text" value="{{regiterNo}}" name="regiterNo" formControlName=regiterNo [ngStyle]="{ 'width': '100%' }">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0" style="color:white ;">Category</p>
            </div>
            <div class="col-sm-9">
              <input type="text" value="{{category}}" name="category" formControlName=category [ngStyle]="{ 'width': '100%' }">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0" style="color:white ;">Place</p>
            </div>
            <div class="col-sm-9">
              <input type="text"  value="{{place}}" name="place" formControlName=place [ngStyle]="{ 'width': '100%' }">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0" style="color:white ;">About</p>
            </div>
            <div class="col-sm-9">
              <input type="text" value="{{about}}" name="about" formControlName=about [ngStyle]="{ 'width': '100%' }">
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-success" style="margin-left: 60%;">Update Profile</button>
    </form>
  </div>
</div>
<div class="col-sm-4">
  

<div class="mt-5">
  <form [formGroup]="form" (submit)="updateSecurityCode()" novalidate>
    <div class="card mb-4 backGround">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0" style="color:white ;">Old Security Code</p>
          </div>
          <div class="col-sm-7">
            <input type="text" name="securityOld" formControlName=securityOld [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0" style="color:white ;">New Security Code</p>
          </div>
          <div class="col-sm-7">
            <input type="text" value="{{securityOld}}" name="securityNew" formControlName=securityNew
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-5">
            <p class="mb-0" style="color:white ;">Confirm Security Code</p>
          </div>
          <div class="col-sm-7">
            <input type="text" value="{{securityNew}}" name="securityConfirm" formControlName=securityConfirm
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" value="{{securityConfirm}}" class="btn btn-success">Update SecurityCode</button>

  </form>
</div>

</div>







<div>
  <form [formGroup]="form" (submit)="updateCommitee()">
    <div class="card mb-4 backGround">
      <div class="card-body">

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0" style="color:white ;">New President</p>
          </div>
          <div class="col-sm-9">
            <input type="text" name="presidentNew" formControlName=presidentNew [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0" style="color:white ;">New Secretory</p>
          </div>
          <div class="col-sm-9">
            <input type="text" name="secretoryNew" formControlName=secretoryNew [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0" style="color:white ;">New Treasurer</p>
          </div>
          <div class="col-sm-9">
            <input type="text" name="treasurerNew" formControlName=treasurerNew [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Update Commitee</button>

  </form>
</div>

</div>