<!-- <div>
    <nav class="backGround navbar navbar-expand-lg pt-2 " >
        <div class="container">
            <a class="navbar-brand ms-4 fw-bold" style="font-size:35px; color: aliceblue;" routerLink="/">E-Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="navbar-brand ms-4"  style="color: aliceblue;" routerLink="/club">Home</a>
              </li>
                <li class="nav-item">
                  <a class="navbar-brand ms-4"  style="color: aliceblue;" routerLink="/club/finance">Finance</a>
              </li>
                <li class="nav-item">
                  <a class="navbar-brand ms-4"  style="color: aliceblue;" routerLink="/club/clubProfile">{{name}}</a>
              </li>
          
           
              <li *ngIf="message" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <a class="navbar-brand ms-4 " style="color: aliceblue;">{{message}}</a>                
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/club/profile">profile</a>
                  <a class="dropdown-item" routerLink="/"  (click)="logout()">logout</a>
                </div>
              </li>
              </ul>
            
            </div>
        </div>
    </nav>
  </div> -->


  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-5 d-block" data-navbar-on-scroll="data-navbar-on-scroll" style="background-image: none; background-color: rgba(249, 250, 253, 0);">
    <div class="container"><a class="navbar-brand" routerLink="/">E-Club</a><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
     <div class="collapse navbar-collapse  border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
       <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base align-items-lg-center align-items-start">
         <li class="nav-item px-2 px-xl-4"><a class="nav-link fw-medium" aria-current="page" routerLink="/club">Home</a></li>
         <li class="nav-item px-2 px-xl-4"><a class="nav-link fw-medium" aria-current="page" routerLink="/club/finance">Finance</a></li>
         <li class="nav-item px-2 px-xl-4"><a class="nav-link fw-medium" aria-current="page" ><button type="button" routerLink="/club/notifications" class="icon-button">
          <span class="material-icons" >notifications</span>
        
        </button></a></li>
        <li *ngIf="message"  class="nav-item dropdown px-2 px-lg-0"> <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{name}}</a> 
          <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  routerLink="/club/clubProfile">Club Profile</a></li>
            <li><a class="dropdown-item" routerLink="/club/members">Members</a></li>
            <li><a class="dropdown-item" routerLink="/club/meeting">Meetings</a></li>
          </ul>
        </li>
        
         <!-- <li class="nav-item px-3 px-xl-4"><a class="nav-link fw-medium" aria-current="page" href="#!">Login</a></li> -->
         <!-- <li class="nav-item px-3 px-xl-4"><a class="btn btn-outline-dark order-1 order-lg-0 fw-medium" href="#!">Sign Up</a></li> -->
          <li *ngIf="message"  class="nav-item dropdown px-2 px-lg-0"> <a class="d-inline-block ps-0 py-2 pe-3 text-decoration-none dropdown-toggle fw-medium" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{message}}</a> 
           <ul class="dropdown-menu dropdown-menu-end border-0 shadow-lg" style="border-radius:0.3rem;" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" routerLink="/club/profile">Profile</a></li>
             <li><a class="dropdown-item" routerLink="/"  (click)="logout()"  >Logout</a></li>
           </ul>
         </li>
       </ul>
     </div>
   </div>
 </nav>