<!--  NAVBAR STARTS -->
<div>
    <nav class="navbar navbar-expand-lg pt-2 " style="background-color: rgb(139, 162, 181);">
        <div class="container">
            <a class="navbar-brand ms-4 fw-bold" style="font-size:35px;" href="#">E-Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="navbar-brand ms-4" (click)="logout()" >logout
                        </a>
                    </li>
               
                </ul>
 
            </div>
        </div>
    </nav>
</div>
<!--  NAVBAR ENDS -->
