<app-sidebar-admin></app-sidebar-admin>

<body class="backGround" >
  <div class="row m-0  height:auto;">
    <div class="col-sm-2 backGround1"
      style="text-align: center;  justify-content: center; align-items: center; height:auto;">
      <h3 style="color: aliceblue; margin-top: 35%;"><b>{{name}}</b></h3>
      <div class="container-fluid"
        style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
        <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></h6>

      </div>
      <div class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></h6>

    </div>
    <div class="container-fluid"
    style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
    <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></h6>

  </div>
      <div *ngIf="leader"  class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></h6>

      </div>
 
    </div>
    <div style=" height:auto" class="col-sm-10 backGround">
      <section class="backGround">
        <div class="container py-5">
          <div class="row">
            <div class="col">

            </div>
          </div>

          <div class="row">
            <div class="col-lg-5 " style="margin-top: 5%;">
              <div class="card mb-4 backGround">
                <div class="card-body text-center">
                  <img *ngIf="!image"
                    src="https://images.unsplash.com/photo-1581417478175-a9ef18f210c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2x1YnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 260px; height:260px ;">
                  <img *ngIf="image" [src]='"http://localhost:5000/public/user_images/"+image'
                    class="rounded-circle img-fluid" style="width: 260px; height:260px ;">
               
                  <div class="d-flex justify-content-center mb-2">

                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-7 justify-content-center">
              <h1 style="color:white ;"><b>{{name}}</b></h1>
    
              <div class="card mb-4 backGround">
                <div class="card-body">

                  <div class="row">
                    <div class="col-sm-12">
                      <h4 class="mb-0" style="color:white ;">{{about}}</h4>
                    </div>
                 
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0" style="color:white ;">Place:</p>
                    </div>
                    <div class="col-sm-9">
                      <p style="color:white ;">{{place}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0" style="color:white ;">Member:</p>
                    </div>
                    <div class="col-sm-9">
                      <p style="color:white ;">{{count}}</p>
                    </div>
                  </div>
                  <hr>

                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0" style="color:white ;">Category:</p>
                    </div>
                    <div class="col-sm-9">
                      <p style="color:white ;">{{category}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0" style="color:white ;">Register no:</p>
                    </div>
                    <div class="col-sm-9">
                      <p style="color:white ;">{{registerNo}}</p>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
          <button *ngIf="leader" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter"
            style="margin-right:5px;">
            change profile picture
          </button>
          <button *ngIf="leader" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter1"
            style="margin-right:5px;">
            add Post
          </button>

          <button *ngIf="leader" type="button" class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg">
            Manage Post
          </button>
          <section class="backGround">
            <div class="row m-0 ">
              <div class="col-sm-4 mt-3 backGround" *ngFor="let item of posts">
                <img [src]="'http://localhost:5000/public/user_images/' + item.image" style="width: 100%; height: 100%;"
                  type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#myModal"
                  (click)="selectItem('http://localhost:5000/public/user_images/' + item.image, item.caption)">
              </div>



            </div>
          </section>
          <div class="container py-5 backGround">
            <div class="row">
              <div class="col ms-auto ms-4" style="text-align: end; color: aliceblue;">
                Thanks For visiting...
              </div>
            </div>
          </div>

        </div>



      </section>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Profile picure</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="file" (change)="onFileSelected($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-warning" (click)="onSubmit()">Upload</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <form [formGroup]="form">
            <div class="modal-content">

              <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLongTitle">Profile picure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <input class="m-3" type="file" (change)="onFileSelecting($event)">
                <input type="email" id="form3Example3" name="caption" formControlName=caption class="form-control" placeholder="description" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" (click)="postOnSubmit()">Upload</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Post of {{name}}</h4>
            </div>
            <div class="modal-body">
              <img *ngIf="selectedImage" [src]="selectedImage" style="width: 450px; height: 450px;">
            </div>
            <h6 style="color: rgb(0, 0, 0);">{{ selectedText }}</h6>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="col-sm-4 mt-3 backGround" *ngFor="let item of posts">
              <img [src]="'http://localhost:5000/public/user_images/' + item.image"
                style="width: 270px; height: 255px;">
              <button (click)="deletePost(item._id)">delete</button>
            </div>

          </div>
        </div>
      </div>