<app-sidebar-admin></app-sidebar-admin>

<body class="backGround" >
  <div class="row m-0 " style="height: auto;">
    <div class="col-sm-2 backGround1"
      style="text-align: center;  justify-content: center; align-items: center; height:auto;">
      <h3 style="color: aliceblue; margin-top: 35%;"><b>{{clubdetails.clubName}}</b></h3>
      <div class="container-fluid"
        style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
        <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></h6>

      </div>
      <div class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></h6>

    </div>
    <div class="container-fluid"
    style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
    <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></h6>

  </div>
      <div *ngIf="leader" class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></h6>

      </div>
  

    </div>
    <div style=" height:auto backGround" class=".background-radial-gradient col-sm-6 ">
   
      <div style="background-color: aqua; width: 100%; height: 400px;background-image: url('{{image}}'); background-size: cover; background-position: center; background-repeat: no-repeat; margin-top: 10px; border-radius: 8px;">

      </div>
    
      <h3 style="color: aliceblue; margin-top: 2%;"><i>Events</i></h3>

      <div class="card mt-3 mb-lg-0 border-0; border-radius:20px;" *ngFor="let item of events">
       
        <div class="card-body border-0"style="background-color: rgb(33, 70, 95);">
       
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">

              <div class="ms-3">
                <h5 style="color: aliceblue;">{{item.event}}</h5>
                <p style="color: rgb(177, 171, 171);">{{item.auther}}</p>
              </div>
            </div>
            <i *ngIf="leader" class="material-icons" style="font-size: 38px; color: rgb(228, 59, 59);" (click)="deleteEvent(item._id)">delete</i>
          </div>
        </div>
      </div>

    </div>
    <div class="backGround col-sm-4 ">
      <div *ngIf="leader"  style="margin-top:100%;">
        <form [formGroup]="form" (submit)="submit()">
          <h4 style="color: aliceblue;">Add Event</h4>
          <div class="row m-0">
            <div class="col-sm-8">
              <input type="text" name="text" formControlName=text style="width: 300px; height: 42px;">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-warning">Add Event</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div  style="width: 100%; height: 20vh;background-color: rgb(33, 70, 95);">

  </div>