<app-sidebar-admin></app-sidebar-admin>

<body class="backGround" >
  <div class="row m-0  ">
    <div class="col-sm-2 backGround1"
      style="text-align: center;  justify-content: center; align-items: center; height:auto;">
      <h3 style="color: aliceblue; margin-top: 35%;"><i>{{name}}</i></h3>
      <div class="container-fluid"
        style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
        <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/members"><i>Member</i></a></h6>

      </div>
      <div class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/meeting"><i>Meetings</i></a></h6>

    </div>
    <div class="container-fluid"
    style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
    <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/notifications"><i>Notifications</i></a></h6>

  </div>
      <div *ngIf="leader" class="container-fluid"
      style="background-color: rgb(33, 70, 95); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6 ><a style="color: aliceblue; text-decoration: none;" routerLink="/club/settings"><i>Settings</i></a></h6>

      </div>
    

    </div>
        <div  style=" background-color: rgb(36,37,37); height:auto" class="col-sm-10">
          <div class="row m-0" >
            <div class="col-sm-6" style=" height: 20%; margin-top: 7%;">
              <div *ngIf="treasurer">
                <form [formGroup]="form" (ngSubmit)="submitFinancialData()" #myForm="ngForm"  >
                  <div class="card mb-4 backGround1" >
                    <div  class="card-body " style="background-color: rgb(49, 54, 67); ">
                      <div class="row">
                        <div class="col-sm-5">
                          <p class="mb-0" style="color:white ;">Name</p>
                        </div>
                        <div class="col-sm-7">
                          <input type="text"  name="username" formControlName=username   [ngStyle]="{ 'width': '100%' }">
                        </div>
                      </div>
                      <hr>
                                           <div class="row">
                        <div class="col-sm-5">
                          <p class="mb-0" style="color:white ;">Reason</p>
                        </div>
                        <div class="col-sm-7">
                          <input type="text"   name="reason" formControlName=reason  [ngStyle]="{ 'width': '100%' }">
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-5">
                          <p class="mb-0" style="color:white ;">Date</p>
                        </div>
                        <div class="col-sm-7">
                          <input type="date"   name="date" formControlName=date  [ngStyle]="{ 'width': '100%' }">
                        </div>
                      </div>
                     <hr>
                      <div class="row">
                        <div class="col-sm-5">
                          <p class="mb-0" style="color:white ;">Amount</p>
                        </div>
                        <div class="col-sm-7">
                          <input type="text"  name="amount" formControlName=amount  [ngStyle]="{ 'width': '100%' }">
                        </div>
                      </div>     
                    </div>
                  </div>
                  <button class="btn btn-danger" type="button" (click)="submitFinancialData()">Loss</button>
              <button type="button" class="btn btn-success m-4" (click)="submitFinancialData1()">Gain</button>
              
                </form>
                </div>
             
          </div>
            <div class="col-sm-6 " style="height: 20%;">
              <div style="margin-top: 15%;">
                
                <div class="card mb-3 " style="background-color: rgb(100, 88, 67);" >
                  <div class="card-body " style="background-color: rgb(228, 119, 119);"  style="border-radius: 8px;">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                     
                        </div>
                        <div class="ms-3">
                          <h5>Cash</h5>
                          <h3 *ngIf="cash>0" style="color: rgb(35, 158, 44);">{{cash}}</h3>
                          <h3 *ngIf="0>cash" style="color: rgb(214, 60, 32);">{{cash}}</h3>
                        </div>
                        <div>
                        
                        </div>
              
              
                      </div>
                      <div class="d-flex flex-row align-items-center">
              
                
                        <a href="#!" style="color: #c6c4c4;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">index</th>
            <th scope="col">Date</th>
            <th scope="col">Person</th>
            <th scope="col">Reason</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data; let i = index">

            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.date | date:'longDate' }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.reason }}</td>
            <td *ngIf="item.status===true" style="color: rgb(30, 181, 38);">{{item.amount}}</td>
            <td *ngIf="item.status===false" style="color: rgb(215, 50, 50);">{{item.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>