


bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff44;

}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #3c2711, #170d17);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


.responsive-form {
  background-color: #f1eeee;
  border-radius: 4px;
  padding: 20px;
}

.responsive-form label,
.responsive-form input,
.responsive-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.responsive-form input[type="submit"] {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.responsive-form input[type="submit"]:hover {
  background-color: lightblue;
}

.text-end {
  text-align: right !important
}

.hero-title {
  font-family: "Volkhov", "DM Serif Display", cursive;
  font-weight: 700;
  font-size: 2.88651rem;
  color: #181E4B;
  margin-bottom: 5px;
  position: relative;
  z-index: 1
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 4.62363rem
  }
}

@media (min-width: 1400px) {
  .hero-title {
    font-size: 5.20158rem
  }
}

.hero-title:before {
  content: '';
  position: absolute;
  right: .9375rem;
  top: 2.5rem;
  width: 20rem;
  height: .8125rem;
  /* background-image: url(../img/hero/shape.svg); */
  background-size: contain;
  z-index: -1
}

@media (min-width: 992px) {
  .hero-title:before {
    top: 2.8125rem
  }
}

@media (min-width: 1200px) {
  .hero-title:before {
    font-size: 4.62363rem;
    top: 4.1875rem;
    right: -.9375rem
  }
}

@media (min-width: 1400px) {
  .hero-title:before {
    font-size: 5.20158rem;
    top: 4.6875rem;
    width: 23.125rem
  }
}

.hero-img {
  width: 105%;
  margin-left: -5rem
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero-img {
    width: 135%;
    margin-left: -4rem
  }
}

@media screen {
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 400;
        src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v11/RYyZNoeFgb0l7W3Vu1aSWOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
    }

    @font-face {
        font-family: 'Lato';
        font-style: italic;
        font-weight: 700;
        src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYELO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
    }
}

/* CLIENT-SPECIFIC STYLES */
body,
table,
td,
a {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

table,
td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}

img {
    -ms-interpolation-mode: bicubic;
}

/* RESET STYLES */
img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}

table {
    border-collapse: collapse !important;
}

body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* MOBILE STYLES */
@media screen and (max-width:600px) {
    h1 {
        font-size: 32px !important;
        line-height: 32px !important;
    }
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] {
    margin: 0 !important;
}