<!---NAVBAR STARTS-->
<app-nav></app-nav>
<!---NAVBAR ENDS-->

<!---BODY STARTS-->
<div class="container">
  <div class="rounded-top text-white d-flex flex-row" style="background-color: #f3e3ef; height:200px;">
    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
      <div *ngIf="img && !img.includes('https://lh3.googleusercontent') && !loader">
        <img [src]="img" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
          style="width: 150px; z-index: 1">
      </div>
      <div *ngIf="!img && !loader">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
          alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
      </div>
      <div *ngIf="img && img.includes('https://lh3.googleusercontent') && !loader">
        <img [src]="img" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
          style="width: 150px; z-index: 1">
      </div>
      <div>
        <div *ngIf='loader' class="m-5 lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-dark " data-mdb-ripple-color="dark" style="z-index: 1;"
        data-toggle="modal" data-target="#exampleModalCenter">
        Edit profile
      </button>
    </div>
    <div class="ms-3" style="margin-top: 130px; color: black;">
      <h5>{{name}}</h5>
      <p>{{email}}</p>
    </div>
  </div>
  <div class="p-4 text-black" style="background-color:  #f3e3ef;">
    <div class="d-flex justify-content-end text-center py-1">
      <div>
        <div>
          {{about}}
        </div>
      </div>
    </div>
  </div>
  <div class="card-body p-4 text-black">
    <div class="mb-5">
      <p class="lead fw-normal mb-1">About</p>
      <form [formGroup]="form" (submit)="submit()">

        <div class="row m-0 mb-3">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <input class="input_field" type="text"  name="name" formControlName=name
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>

        <div class="row m-0 mb-3">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <input class="input_field" type="text"  name="email" formControlName=email
              [ngStyle]="{ 'width': '100%' }" [readonly]="true">
          </div>
        </div>
        <div class="row m-0 mb-3">
          <div class="col-sm-3">
            <p class="mb-0">Phone</p>
          </div>
          <div class="col-sm-9">
            <input class="input_field" type="text"  name="phone" formControlName=phone
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <div class="row m-0 mb-3">
          <div class="col-sm-3">
            <p class="mb-0">About</p>
          </div>
          <div class="col-sm-9">
            <input class="input_field" type="text" name="about"  formControlName=about
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>

        <div class="row m-0 mb-3">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <input class="input_field" type="text"  formControlName=address
              [ngStyle]="{ 'width': '100%' }">
          </div>
        </div>
        <div style="text-align: end;">
          <button type="submit" class="btn btn-dark m-5 ms-auto">Update profile</button>
        </div>
      </form>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <p class="lead fw-normal mb-0">Recent Logins</p>
      <p class="mb-0"></p>
    </div>
    <div class="row g-2">
      <div class="card mb-4 backGround" *ngFor="let item of clubs?.clubs" style=" border-radius: 20px;">
        <div class="card-body  m-2 backGround " style=" border-radius: 20px;">
          <div class="row align-items-center">
            <div class="col-md-2">
              <img *ngIf="!item.club.image"
                src="https://www.shutterstock.com/image-vector/no-user-profile-picture-hand-260nw-99335579.jpg"
                class="img-fluid rounded-circle" style="width:70px; height: 70px;" alt="Generic placeholder image">
              <img *ngIf="item.club.image" [src]='item.club.image' class="img-fluid rounded-circle"
                style="width:70px; height: 70px;" alt="Generic placeholder image">
              <div *ngIf='loader' class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <div>
                <h4 *ngIf="item.club.president===id" class=" fw-normal mb-0">{{item.clubName}} (president)</h4>
                <h4 *ngIf="item.club.secretory===id" class=" fw-normal mb-0">{{item.clubName}} (secretory)</h4>
                <h4 *ngIf="item.club.treasurer===id" class=" fw-normal mb-0">{{item.clubName}} (treasurer)</h4>
                <h4 *ngIf="item.club.members.includes(id)" class=" fw-normal mb-0">{{item.clubName}} (member)</h4>
                <h4 *ngIf="!item.club.members.includes(id) && item.club.treasurer!=id && item.club.secretory!=id && item.club.president!=id"  class=" fw-normal mb-0">{{item.clubName}}</h4>
      
              </div>
            </div>
            <div class="col-md-2  justify-content-center">
              <div>
              </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <div>
                <div>
                  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
                    <input type="hidden" [(ngModel)]="item.clubName" name="clubName">
                    <input type="hidden" [(ngModel)]="item.password" name="securityCode">
                    <button type="submit" class="join-button">Join to {{item.clubName}}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!---ADD PROFILE PICTURE MODAL STARTS-->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Profile picure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" (change)="onFileSelected($event)">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning close" data-dismiss="modal" (click)="onSubmit()">Upload</button>
      </div>
    </div>
  </div>
</div>