<!--- NAVBAR   STARTS -->
<app-navbar></app-navbar>
<!--- NAVBAR   ENDS -->
<!--- SIDEBAR STARTS-->
<div class="row m-0">
  <div class="col-sm-2 " style="height: auto;" style="background-color: rgb(168, 186, 189);">
    <div class="container-fluid"
      style="background-color: rgb(217, 217, 217); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6><a style="color: rgb(67, 62, 62); text-decoration: none;" routerLink="/admin/dashboard"><i>Dashboard</i></a>
      </h6>
    </div>
    <div class="container-fluid"
      style="background-color: rgb(217, 217, 217); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6><a style="color: rgb(67, 62, 62);  text-decoration: none;" routerLink="/admin/clubs"><i>Clubs</i></a></h6>
    </div>
    <div class="container-fluid"
      style="background-color: rgb(217, 217, 217); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6><a style="color: rgb(67, 62, 62);  text-decoration: none;" routerLink="/admin/users"><i>Users</i></a></h6>
    </div>
    <div class="container-fluid"
      style="background-color: rgb(217, 217, 217); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6><a style="color: rgb(67, 62, 62);  text-decoration: none;" routerLink="/admin/banners"><i>Banner</i></a></h6>
    </div>
    <div class="container-fluid"
      style="background-color: rgb(217, 217, 217); width: 90%; height: 45px; margin-top: 10%; border-radius: 8px; padding-top: 10px;">
      <h6><a style="color: rgb(67, 62, 62);  text-decoration: none;" routerLink="/admin/blacklist"><i>Blacklist</i></a>
      </h6>
    </div>

  </div>

  <!--- SIDEBAR ENDS-->


  <!--- BODY STARTS-->
  <div class="col-sm-10 vh-100" style="background-color: rgb(136, 164,170);">
    <div style="text-align:end; margin: 5px;">
    </div>
    <div class="row">

      <div class="col-sm-12">
        <div class="card m-3 ">
          <div class="card-body " style="background-color: antiquewhite;">
            <h5 class="card-title">Dash board</h5>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card m-2 mt-4" style="box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5)">
          <div class="card-body" style="background-color: rgb(159, 198, 173);">
            <h2 class="card-title">Total Clubs</h2>
            <h1 class="card-text">{{dashboard.clubs}}</h1>
          </div>
        </div>
      </div>
      

      <div class="col-sm-6">
        <div class="card m-2 mt-4"style="box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5)">
          <div class="card-body" style="background-color:rgb(159, 198, 173);">
            <h2 class="card-title">Total Users</h2>
            <h1 class="card-text">{{dashboard.users}}</h1>
          </div>
        </div>
      </div>


    </div>
  </div>
  <!--- BODY ENDS-->