.backGround{
    background-color: rgb(23, 28, 32);
}
*{
  overflow: hidden;
}
.navBackground{
  background-color:rgb(58, 59, 61);
}
.joinBtn{
    margin-top: 10px;
    border-radius: 6px;
    height: 40px;
    color:rgb(0, 0, 0); 
}
.createclubBtn{
    border-radius: 6px;
    height: 40px;
    width: 30%;
    margin-left:12px;
    text-align: left;
    background-color: rgb(69, 55, 62);
    color:rgb(255, 255, 255)   
}

.color{
    color: aliceblue;
}
/* img {
  border-radius: 50%;
} */
body{
  overflow-y: hidden;
  overflow-x: hidden;
   padding: 0%;
   margin: 0%;
}


@media (min-width: 1200px) {
  .responsive-font-example {
    font-size: 13px;
  }
}

@media (max-width: 1199.98px) {
  .responsive-font-example {
    font-size: 10px;
  }
}

.background-radial-gradient {

    background-color: #f3e3ef;

}
.hero-title {
  font-family: "Volkhov", "DM Serif Display", cursive;
  font-weight: 700;
  font-size: 2.88651rem;
  color: #58473a;
  margin-bottom: 5px;
  position: relative;
  z-index: 1
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

bodY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #f3e3ef, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.join_btn{
  margin-bottom: 15%;
  text-align: center;
  font-weight: 200;
  border: 0;
  background: #333333;
}

.createClub_btn{
 background-color: #33333300; 
 border: 2px #333333 solid;
 font-weight: 200;
}
  