<div  class="backGround">


    <div class="row m-0">
        <div class="col-sm-6">
      <h1 style="font-size:65px; margin-top: 20%; margin-left: 15%; color: rgb(125, 250, 145);"><b>E-Club</b></h1>      
    <h1 style="font-size:45px; margin-left: 15%; color: aliceblue;">We Connects<br>People</h1>
    <h6 style=" margin-left:  15%; color: aliceblue;"><i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui amet totam repellat atque ad rerum officiis esse aperiam quia nam commodi, possimus harum, praesentium sapiente aliquid quisquam necessitatibus libero.</i></h6>
    
        </div>
        <div style="padding-top:4%" class="col-sm-6 ">
<div class="contaner m-5 " >
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card shadow-2-strong" style="border-radius: 1rem;background-color: rgb(76, 77, 77);">
          <div class="card-body p-3 text-center " style="background-color: rgb(76, 77, 77);">

            <h3 class="mb-5" style="color: aliceblue;">Sign in</h3>
            <form [formGroup]="form" (submit)="submit()">
            <div class="form-outline mb-4">
              <input type="text" id="typeEmailX-2" class="form-control form-control-lg" name="clubName" formControlName=clubName placeholder="Club name"/>
            </div>

            <div class="form-outline mb-4">
              <input type="text" id="typePasswordX-2" class="form-control form-control-lg" name="registerNo" formControlName=registerNo placeholder="Register no."/>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="typePasswordX-2" class="form-control form-control-lg" name="place" formControlName=place placeholder="Place"/>
            </div>
            <div class="form-outline mb-4">
              <input type="text" id="typePasswordX-2" class="form-control form-control-lg" name="category" formControlName=category placeholder="Category"/>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="securityCode" formControlName=securityCode placeholder="Security code"/>
              </div>
             
              <div class="form-outline mb-4">
                <input type="email" id="typePasswordX-2" class="form-control form-control-lg" name="president" formControlName=president  placeholder="President emailID"/>
              </div> <div class="form-outline mb-4">
                <input type="email" id="typePasswordX-2" class="form-control form-control-lg" name="secretory" formControlName=secretory placeholder="Secretory emailID"/>
              </div> <div class="form-outline mb-4">
                <input type="email" id="typePasswordX-2" class="form-control form-control-lg" name="treasurer" formControlName=treasurer placeholder="Treasurer emailID"/>
              </div>
            <button style="background-color: rgb(125, 250, 145); width:130px; height: 40px; border-radius: 6px;"type="submit">Login</button>
  </form>
            <hr class="my-4">
          </div>
        </div>
      </div>
  </div>
</div>
   </div>
    </div>
</div>